.App {
  max-width: 1080px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  align-items: center;
  background-color: #f1fa75;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #eec1fe;
  outline: 0;
}

button:hover {
  outline: 0;
  background-color: #eec1fe;
}

.game-box {
  background-color: #eec1fe;
}

.game-box:active {
  background-color: #f1fa75;
}

.game-box:hover {
  background-color: #f1fa75;
}

.card-grid {
  margin-top: 20px; /* Adjust margin as needed */
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center;
}

h1 {
  background-image: radial-gradient(ellipse, #fff, #e1e619);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

p {
  text-shadow: 1px 1px 2px  #e1e619;
}

@media (max-width: 868px) {
  .card-grid {
    justify-content: center;
  }

  .button-56 {
    padding: 0 40px;
  }
}

/* CSS */
