@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

/* base styles */
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: rgb(33, 5, 61);
  background: radial-gradient(
    circle,
    rgba(33, 5, 61, 1) 0%,
    rgba(70, 23, 111, 1) 49%,
    rgba(38, 4, 56, 1) 100%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}
